<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="content">
    <div class="alert alert-danger">
        <h5>Oops... some error occured!</h5>
        <p>Make sure that</p>
        <p>Your password and confirm passwords are same. <b>(Case Sensitive)</b></p>
        <p>Click here to get <a href="{{url_for('change_password')}}"> Back </a> </p>
    </div>
</div>