<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="content">
    <div class="alert alert-success">
        <p> Registration Successfull! </p>
        <small class="text-muted">Please remember the Username and Password as it is required to login.</small>
        <p> Click here to <a href="{{url_for('login')}}">Login</a> </p>
    </div>
</div>