<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="content">
    <div class="alert alert-danger">
        <p> Registration Error! </p>
        <small class="text-muted">Please fill the required details causiously.</small>
        <p>make sure that:</p>
        <p></p>
        <p> You have filled all the mandatory fields.<br>
         your password and confirm passwords are same.<br>
         Accept out terms and conditions.<br>
         All required fields are marked with *. <br>
        <p></p>
        <p> Click here to <a href="{{url_for('register')}}"> Back </a> </p>
    </div>
</div>