{% extends 'base.html' %}

{% block title %}
  <title>Profile</title>
{% endblock %}

{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <p></p>
          <p></p>
          <p></p>
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"> {{result[1]}} {{result[2]}} </h5>
            <p class="text-muted mb-1"> {{result[3]}} </p>
            <p class="text-muted mb-4"> MyBlogs ID: {{result[0]}} </p>
            <a href="{{url_for('myblogs')}}" class="btn btn-outline-primary"> View MyBlogs</a>
            <a href="{{url_for('change_password')}}" class="btn btn-outline-primary" > Change Password</a>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">First Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{result[1]}} </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Last Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{result[2]}} </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{result[4]}} </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Username</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{result[3]}} </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">MyBlogs ID</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{result[0]}} </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Total Posts</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{result[7]}} </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Password Hash</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{result[5]}} </p>
              </div>
            </div>
            <hr>
          </div>
        </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}